* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inconsolata', monospace;
}